PORT=4000

# Conexión Relacional MySQL (Nube o Local)
MYSQL_URL=mysql://root:password@localhost:3306/uninpahu_db

# O Conexión Relacional PostgreSQL (Nube Neon)
# DATABASE_URL=postgresql://user:pass@host/db?sslmode=require

# Parámetros individuales MySQL opcionales:
# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=uninpahu_db
# DB_PORT=3306
