# Puerto del microservicio
PORT=8000

# Cadena de conexión de MongoDB Atlas (NoSQL en la nube)
# Formato: mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://usuario:password@cluster0.abcde.mongodb.net/anime_db?retryWrites=true&w=majority

# Nombre de la base de datos
DB_NAME=anime_db
